* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--primary-font: "Inter", sans-serif;
	--secondary-font: "Libre-Baskerville", serif;
	--primary-color: #8f02ac;
	--primary-dark-color: #5b036d;
	--primary-transparent-color: #8f02acba;
	--secondary-color: #03d4a3;
	--green-color: #04c004;
	--red-color: red;
	--grey-color: #d3d1d1;
	--light-grey-color: #e7e6e6;
	--white-color: #ffffff;
	--black-color: #000000;
	--shadow: 0 10px 20px 0 #00000033;
	font-size: 16px;
}

body {
	font-family: var(--primary-font);
	color: var(--primary-color);
	font-weight: 400;
	line-height: 1.8;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

img {
	max-width: 100%;
	vertical-align: middle;
}

h1,
h2,
h3,
h4 {
	font-family: var(--secondary-font);
	font-weight: 400;
	line-height: normal;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1em;
}

input,
textarea,
select {
	font: inherit;
	width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
	width: auto;
}

input::placeholder,
textarea::placeholder {
	color: inherit;
}

strong {
	font-weight: 600;
}

.container {
	max-width: 1280px;
	padding: 0.5rem 2rem;
	margin: 0 auto;
}

/* ****************** Header ************************ */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.menu-brand-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6rem;
}

.header-left .navbar {
	position: absolute;
	display: block;
	background-color: var(--primary-transparent-color);
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	transform: translateX(-100%);
	transition: all 0.5s linear;
}

.header-left .menu {
	position: absolute;
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: var(--white-color);
	transform: translateX(100%);
	transition: all 0.5s linear;
}

.header-left li {
	position: relative;
}

.header-left .navbar.active {
	transform: translateX(0%);
}

.header-left .navbar.active ul {
	transform: translateX(0%);
}

.menu-icon {
	display: block;
}

.menu-icon i {
	font-size: 28px;
	cursor: pointer;
}

.close-menu-icon {
	font-size: 32px;
	cursor: pointer;
	margin: 1rem 2rem;
}

.header-right ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left a,
.header-right a {
	position: relative;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	transition: 0.3s color linear;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.2rem;
	padding: 1rem 2rem;
	transition: all 0.5s linear;
}

.header-right a {
	padding: 1rem;
}

.header-left a:hover {
	background-color: var(--light-grey-color);
	box-shadow: var(--shadow);
	transform: scale(1.05);
}

.header-right a:hover {
	color: var(--primary-dark-color);
}

.brand a {
	font-family: var(--secondary-font);
	font-size: 1.8rem;
	display: inline-block;
	line-height: 1.2rem;
}

.brand a span {
	color: var(--secondary-color);
}

.item-floating {
	position: absolute;
	font-size: 10px;
	font-weight: 600;
	top: 3px;
	right: 3px;
	background-color: var(--secondary-color);
	color: var(--white-color);
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.header-left .submenu {
	box-shadow: var(--shadow);
}

.menu li {
	position: relative;
}

.submenu {
	position: relative;
	display: none;
	width: 100%;
	transform: scale(1.05);
}

.menu li:hover .submenu {
	display: flex;
	flex-direction: column;
	background-color: var(--light-grey-color);
	transform: scale(1.05);
	z-index: 20;
}

.submenu a {
	font-size: 0.8rem;
}

.submenu li a:hover {
	background-color: var(--grey-color);
	box-shadow: var(--shadow);
}

.header-left .menu li {
	border-bottom: 1px solid var(--light-grey-color);
}

@media screen and (min-width: 990px) {
	.header-left .navbar {
		display: flex;
		position: relative;
		height: 100%;
		background-color: var(--white-color);
		transform: translateX(0);
	}

	.header-left .close-menu-icon {
		display: none;
	}

	.header-left .navbar ul {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;
		transform: translateX(0);
	}

	.menu-icon {
		display: none;
	}

	.header-left .menu li {
		border-bottom: none;
	}

	.submenu {
		position: absolute;
	}
}
