* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--primary-font: "Inter", sans-serif;
	--secondary-font: "Libre-Baskerville", serif;
	--primary-color: #8f02ac;
	--primary-dark-color: #5b036d;
	--primary-light-color: #f3cefb;
	--secondary-color: #03d4a3;
	--green-color: #04c004;
	--red-color: red;
	--grey-color: #d3d1d1;
	--light-grey-color: #e7e6e6;
	--white-color: #ffffff;
	--black-color: #000000;
	--shadow: 0 10px 20px 0 #5b036d9c;
	font-size: 16px;
}

body {
	font-family: var(--primary-font);
	color: var(--primary-color);
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: hidden;
}

ul {
	list-style: none;
}

li {
	width: 100%;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

img {
	max-width: 100%;
	vertical-align: middle;
}

h1,
h2,
h3,
h4 {
	font-family: var(--secondary-font);
	font-weight: 400;
	line-height: normal;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1em;
}

input,
textarea,
select {
	font: inherit;
	width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
	width: auto;
}

input::placeholder,
textarea::placeholder {
	color: inherit;
}

strong {
	font-weight: 600;
}

.container {
	max-width: 1280px;
	padding: 0.5rem 1rem;
	margin: 0 auto;
}

/* ****************** Header ************************ */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	top: 0;
	gap: 1rem;
}

.navbar-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.hamb-menu-icon {
	display: block;
	font-size: 1.6rem;
	cursor: pointer;
}

.close-menu-icon {
	display: block;
	font-size: 1.6rem;
	cursor: pointer;
	padding: 0.5rem 1rem;
	width: 100%;
	border-bottom: 1px solid var(--light-grey-color);
}

.close-menu-icon i {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.menu-left {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 50%;
	min-width: 240px;
	min-height: 100vh;
	top: 0;
	left: 0;
	background-color: var(--white-color);
	box-shadow: var(--shadow);
	transform: translateX(-110%);
	transition: transform 0.5s;
	z-index: 100;
}

.menu-left.active {
	transform: translateX(0);
}

.menu-left li {
	position: relative;
}

.navbar-left ul li:hover .products-submenu {
	display: flex;
	flex-direction: column;
}
.navbar-left ul li:hover .specials-submenu {
	display: flex;
	flex-direction: column;
}

.menu-left li a {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	gap: 0.3rem;
	width: 100%;
	background-color: transparent;
	border-bottom: 1px solid var(--light-grey-color);
	transition: all 0.3s linear;
}

.menu-left li a:hover {
	background-color: var(--light-grey-color);
	border-bottom: 1px solid var(--white-color);
}

.products-submenu li a,
.specials-submenu li a {
	padding: 0.8rem 2rem;
	font-size: 0.9rem;
	font-weight: normal;
	background-color: var(--light-grey-color);
	border-bottom: 1px solid var(--white-color);
	transition: all 0.3s linear;
}

.products-submenu li a:hover,
.specials-submenu li a:hover {
	background-color: var(--primary-light-color);
	border-bottom: 1px solid var(--primary-light-color);
}

.brand {
	display: block;
	font-family: var(--secondary-font);
	font-size: 2rem;
	position: relative;
	letter-spacing: -0.2rem;
}

.brand span {
	color: var(--secondary-color);
}

.mobile-brand {
	display: block;
	font-size: 1.5rem;
}

.desktop-brand {
	display: none;
}

.navbar-right .menu-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-right li {
	font-size: 1.1rem;
	padding: 0 0.6rem;
	position: relative;
}

.menu-right li a:hover {
	color: var(--primary-light-color);
}

.menu-right .ballon-floating {
	position: absolute;
	top: -0.4rem;
	right: -0.2rem;
	font-size: 0.7rem;
	color: var(--white-color);
	background-color: var(--secondary-color);
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.products-submenu-right,
.products-submenu-left,
.products-submenu,
.specials-submenu {
	width: 100%;
	display: none;
}

.products-submenu-right li a h3 {
	font-size: 1.2rem;
	font-weight: bold;
}

/* Media Queries ************************************************ */

@media screen and (min-width: 450px) {
	.container {
		padding: 0.5rem 2rem;
	}

	/* Header ************************ */

	.close-menu-icon,
	.menu-left li a {
		padding: 0.5rem 2rem;
	}
}

@media screen and (min-width: 600px) {
	/* Header ************************ */

	.menu-right {
		gap: 1rem;
	}
}

@media screen and (min-width: 990px) {
	.container {
		padding: 0 2rem;
	}

	/* Header ************************ */

	.menu-left {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: transparent;
		box-shadow: none;
		transform: none;
		min-height: 100%;
	}

	.menu-left li a {
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-bottom: none;
		background-color: transparent;
		transition: all 0.3s linear;
	}

	.menu-left li a:hover {
		border-bottom: none;
		background-color: var(--white-color);
	}

	.hamb-menu-icon {
		display: none;
	}

	.close-menu-icon {
		display: none;
	}

	.mobile-brand {
		display: none;
	}

	.desktop-brand {
		display: block;
	}

	.products-submenu,
	.specials-submenu {
		position: absolute;
		display: none;
		width: max-content;
		top: 3rem;
		box-shadow: var(--shadow);
	}

	.products-submenu {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		z-index: 200;
		padding: 1rem;
		gap: 1rem;
	}

	.products-submenu li a {
		border-bottom: none !important;
		padding: 0.5rem 1rem;
	}

	.specials-submenu li a {
		padding: 0.5rem 1rem;
		border-bottom: 1px solid var(--light-grey-color) !important;
		background-color: var(--white-color);
	}

	.products-submenu li a:hover,
	.specials-submenu li a:hover {
		background-color: var(--light-grey-color);
	}

	.products-submenu:hover {
		display: flex;
	}

	.products-submenu-left {
		display: flex;
	}

	.products-submenu-left img {
		width: 200px;
	}

	.products-submenu-left.submenu {
		display: flex;
	}

	.products-submenu-right {
		display: flex;
	}

	.products-submenu-right li {
		background-color: var(--white-color);
		border-bottom: none;
	}

	.specials-submenu {
		flex-direction: column;
	}
}
